.mainX {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  position: relative;
}
.bg {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;

  position: absolute;
}
.bot {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bot {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bot h1{
  color: #551a8b;
  font-size: 5rem;
}
.ghub {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #efefed;
  border-radius: 8px;
}
.bax {
  width: 25rem;
  margin: 1rem;
  height: 0.3rem;
  border-radius: 8px;
  background-color: #efefed;
}
.ghub {
  letter-spacing: 1px;
  transition: background-color 0.4s ease-in-out, 
  transform 0.4s ease-in-out,
    color 0.4s ease-in-out;
}
.ghub * {
  margin: 0.7rem 1rem;
  font-weight: bold;
}
.ghub svg {
  font-size: 2.5rem;
  margin-right: -0.5rem;
}
.ghub:hover {
  background-color: #551a8b;
  color: #efefed;
  transform: scale(1.06);
}
@media screen and (max-width: 786px) {
  .bax{
    width: 90vw;
  }
}
