.mainX {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  position: relative;
}
.bg {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;

  position: absolute;
}
.bot {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hLogo {
  width: 20rem;
}
.bot {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ghub{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #efefed;
  border-radius: 8px;
}
.bax{
  width: 20vw;
  height: 1rem;
  background-color: #efefed;
}
.ghub{
  letter-spacing: 1px;
}
.ghub *{
  margin: .7rem 1rem;
}
.ghub svg{
  font-size: 2.5rem;
  margin-right: -.5rem;
  
}
@media screen and (max-width: 786px){
  .hLogo {
    width: 10rem;
  }
}

