.mainX {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  position: relative;
}
.bg {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;

  position: absolute;
}
.bot {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bot {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bot h1 {
  font-size: 4rem;
  color: #313639;
}
.ghub {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
}
.bax {
  width: 20rem;
  margin: .5rem;
  height: 0.3rem;
  border-radius: 8px;
  background-color: #313639;
}
.ghub {
  letter-spacing: 1px;
  transition: background-color 0.7s ease-in-out, transform 0.6s ease-in-out,
    color 0.7s ease-in-out;
    font-weight: bold;
    color: #313639;
}
.ghub * {
  margin: 0.7rem 1rem;
}
.ghub svg {
  font-size: 2.5rem;
  margin-right: -0.5rem;
}
.ghub:hover {
  background-color: #313639;
  color: #efefed;
  transform: scale(1.04);
}
