.bg {
  min-height: 90vh;
  width: 100vw;
  background: url(../img/background.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
