.homeWrapper {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.homeMain {
  margin-top: -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.small {
  letter-spacing: -1.2px;
  color: var(--clickedBlack);
}
.large {
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--black);
}

/* GITHUB BTN */
.ghub {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  letter-spacing: 0.8px;
  transition: background-color 0.7s ease-in-out, transform 0.6s ease-in-out,
    color 0.7s ease-in-out;
}
.ghub {
  color: #313639;
  background-color: transparent;
}
.ghub * {
  margin: 0.7rem 1rem;
}
.ghub svg {
  font-size: 2.5rem;
  margin-right: -0.5rem;
}
.ghub:hover {
  background-color: #313639;
  color: #efefed;
  transform: scale(1.04);
}
