.homeWrap {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}
.centerPage,
.homeWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.centerPage {
  color: #313639;
  font-size: 1.5rem;
}
.line {
  width: 15rem;
  height: 0.2rem;
  border-radius: 8px;
  margin: 0.5rem;
  background-color: #313639;
}
.ghub {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  letter-spacing: 0.8px;
  transition: background-color 0.7s ease-in-out, transform 0.6s ease-in-out,
    color 0.7s ease-in-out;
}
.ghub {
  color: #313639;
  background-color: transparent;
}
.ghub * {
  margin: 0.7rem 1rem;
}
.ghub svg {
  font-size: 2.5rem;
  margin-right: -0.5rem;
}
.ghub:hover {
  background-color: #313639;
  color: #efefed;
  transform: scale(1.04);
}
