.kanabino {
  margin: 1.5rem;
}
.kanabino p {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.kanabino * {
  text-align: center;
}
table {
  margin: 2rem auto;
  border: 0.1rem solid var(--black);
  border-radius: 1px;
  font-size: 1.4rem;
}
th {
  padding: 0.3rem;
}
td {
  padding: 0.2rem;
}
@media screen and (min-width: 768px) {
  .kanabino p {
    margin: 1rem auto;
  }
  table {
    font-size: 1.7rem;
  }
}
