.box {
  width: 100vw;
}
.box * {
  margin: auto;
}
.box h1 {
  text-align: left;
  color: #313639;
  padding: 5rem 2rem;
  font-size: 3.5rem;
}
.box header {
  width: 100vw;
  background-color: #efefed;
}
.box h2 {
  margin: 1rem 0;
}
.box main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box section {
  padding: 1rem;
}
.box p {
  font-size: 1.1rem;
}
@media screen and (min-width: 781px) {
  .box h1 {
    padding: 4rem 2rem;
  }
  .box main {
    width: 90%;
  }
  .box section {
    margin: 1rem;
  }}
@media screen and (max-width: 780px) {
  .box main {
    flex-direction: column;
  }
  .box h1{
    font-size: 2.5rem ;
  }
  .box p {
    width: 95%;
  }
  .box section:last-of-type {
    padding-bottom: 5rem;
  }
}
