/* SHOP ITEM NAKRES */
.product-wrap {
  background-color: var(--white);
  width: 22rem;
  display: block;
  margin: 1rem auto;
  border-radius: 2%;
}

.productImgWrapper {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productIMG {
  width: 100%;
  max-height: 18rem;
  margin: 0.5rem 0;
}
/* nazev produktu */
.product-wrap h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0 0 1.2rem;
  color: var(--black);
}
.desc {
  margin: 0.7rem 1.9rem;
  text-align: left;
  width: 80%;
  min-height: 3rem;
}
.fifty {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* info o dostupnosti */
.available {
  color: #64bc26;
}
.pending {
  color: #fad202;
}
.notavailable {
  color: #ea1601;
}

.price {
  font-weight: bold;
}

/* přidej do košíku btn */
.addToCart {
  margin-top: 0.5rem;
  line-height: 4;
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease-in, color 0.5s ease;
  z-index: 1;
}
.addToCart:hover {
  background-color: var(--clickedBlack);
  color: var(--white);
}
