/* Shop Obsah */
.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--black);
}

/* ShopCategoriesNavigator */
.shopNav {
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.shopNav h4 {
  display: none;
}
.shopNavLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.shopNavLinks a {
  margin: 0 0.7rem;
}
.shopNavLinks a:nth-of-type(2) {
}

.cartIconWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem auto;
  padding: 0.2rem;
  /* background-color: white; */
}
.cartIcon {
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 2rem;
  margin: 0 0.2rem;
}
.cartIcon:active {
  color: var(--clickedBlack);
}

/* hlavni obsah*/
.categoryName {
  font-size: 2rem;
  margin: 1rem;
}
.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
}

/* search bar */
.searchBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
  border-radius: 20px;
}
.searchBar input {
  text-align: center;
  border: none;
  height: 1.5rem;
  width: 90%;
  border-radius: 4px;
}
.searchBar svg {
  position: relative;
  right: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
}
@media screen and (min-width: 1000px) {
  .mainWrapper {
    flex-direction: row;
  }
  .shopNav {
    width: 15%;
    min-width: 15rem;
  }
  .shopNav h4 {
    display: block;
    text-align: left;
    margin: 0.7rem 0.5rem;
    font-size: 1.4rem;
  }
  .shopNavLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.3rem;
  }
  .shopNavLinks a {
    margin: 0.2rem 0;
  }
}
