* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.none {
  display: none;
}