:root{
  --black: #313639;
  --white: #efefed;
  --purple: #551a8b;
  }
* {
  margin: 0;
  padding: 0;
  transition: all .05s ease;
}
html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
}
body {
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.none {
  display: none;
}
@media screen and (min-height: 1200px){
  html{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1100px){
  html{
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1500px){
  html{
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1800px){
  html{
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 2300px){
  html{
    font-size: 2.5rem;
  }
}