:root {
  --black: #313639;
  --clickedBlack: #4d4d4d;
  --white: #efefed;
  --purple: #551a8b;
  --lightGray: #a0a1a1;
  --ultraLightGray: #c9c9c9;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-y: overlay;
  overflow-x: hidden;
}
body {
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: var(--black);
}
ul,
li {
  list-style: none;
}
.none {
  display: none;
}
