/* 
  ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 2000px) {
    html {
      font-size: 1rem;
    }
  }
  
  
/* 
  ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 2000px) {
    html {
      font-size: 2.5rem;
    }
  }
  
  
/* 
  ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1500px) {
  html {
    font-size: 1.6rem;
  }
}



/* 
    ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 1rem;
  }
}


/* 
    ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 2.5rem;
  }
}


/* 
    ##Device = Tablets, Ipads (landscape)
       ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 1rem;
  }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 1rem;
  }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 1rem;
  }
}