.ScrollBtn {
  position: fixed;
  font-size: 2.5rem;
  bottom: 1rem;
  right: 1rem;
  transition: transform 0.2s ease;
  cursor: pointer;
  color: var(--black);
}
.ScrollBtn:hover {
  transform: scale(1.05);
}
.ScrollBtn:active {
  opacity: 0.85;
}
.hidden {
  visibility: hidden;
}
.shown {
  visibility: visible;
}
