.wrapF{
    background-color: #efefed;
    width: 100vw;
}
.footer{
    display: flex;
    font-size: 1.2rem;
}
.bar{
    height: auto;
    border-radius: 25px;
    width: .5rem;
    background-color: #313639;
}
.Icons{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 1rem;
}
.Icons a{
    color: #313639;
    transition: all .5s ease;
}
.Icons a:hover{
    transform: scale(1.1);
    color: #464a4b;
}
.Kontakt, .Icons{
    margin: 1rem;
}
.Kontakt{
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
}
.Kontakt p{
    margin: .8rem 0;
}
@media screen and (min-width: 769px) {
    .footer {
        
    }
  }
  @media screen and (min-width: 769px){
    .footer{
        width: 90%;
        margin: auto;
    }
  } 