.footer {
  width: 100vw;
  background-color: #efefed;
}
.before {
  width: 100%;
  display: flex;
  padding: 0.7rem 0 2rem 0;
}
.before * {
  color: #313639;
}
.after {
  text-align: center;
  background-color: #efefed;
}
.after a {
  color: #313639;
  margin: 0 0.7rem;
  transition: color 0.5s ease;
}
.after a:hover {
  color: #4f5152;
}
@media screen and (max-width: 769px) {
  .before {
    flex-direction: column;
    padding: 1.7rem 0;
  }
  .before * {
    display: inline-flex;
    margin: 0.5rem 1rem;
    font-size: 1.35rem;
  }
  .before svg {
    font-size: 2rem;
    position: relative;
    top: -0.3rem;
  }
  .after {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  .before {
    display: flex;
  }
  .before div {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
  }
  .before svg {
    margin: 1rem;
    font-size: 3rem;
  }
  .after {
    font-size: 2.5rem;
  }
}
