.footer {
  background-color: #e9ecef;
  width: 100%;

}
.wrapfooter {
  display: flex;
}
.Links,
.Place {
  width: 50%;
}
.Author {
  text-align: center;
}

.footer a {
  display: block;
  font-size: 1.4rem;
}
.FIco {
  position: relative;
  top: -0.15rem;
  margin: 0.1rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    position: absolute;
    min-height: 37vh;
    bottom: -37vh;
  }
  .footer h3 {
    padding: 1rem;
  }
  .footer h2 {
    margin: 1rem;
  }
  .footer a{
    margin: 0.5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .wrapfooter {
    display: flex;
  }
  .Links,
  .Place {
    width: 100%;
  }
  .Author,
  .wrapfooter {
    width: 100%;
  }
  .footer h2{
    margin: 0 .7rem;
  }
  .footer a{
    margin: 0.5rem;
  }
}
