.footer {
  background-color: #e9ecef;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
  width: 100%;
}

/* Uprava rozlozeni polozek na 2/1 */
.Links, .Place{
  width: 100%;
}

.Author{
  text-align: center;
  width: 100vw;
}
/* github... ikona + text flexbox */
.footer span a{
  display: flex;
  font-size: 1.5rem;
  margin: .5rem 2rem;
  width: 30%;
  margin: 1rem;
}
.footer a p{
  margin-left: .5rem;
}

@media screen and (min-width: 769px) {
  .footer {

  }
  .Links, .Place{
    width: 50%;
  
  }
}
@media screen and (max-width: 768px) {
}
