.footer {
  width: 100vw;
  background-color: #efefed;
}
.bar {
  height: 0.2rem;
  background-color: #313639;
  border-radius: 25px;
  width: 99vw;
  margin: 0.4rem auto;
}
.before {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center
}
.before * {
  color: #313639;
}
.after {
  text-align: right;
  background-color: #efefed;
}
.after a {
  color: #313639;
  margin: .7rem;
  transition: all 0.5s ease;
}
.after a:hover {
  color: #464a4b;
}
@media screen and (max-width: 769px) {
  .bar {
    width: 99vw;
  }
  .before {
    flex-direction: column;
    vertical-align: middle;
    align-items: left;
  }
  .before * {
    display: inline-flex;
    margin: 0.7rem;
    font-size: 1.35rem;
  }
  .before svg {
    
    font-size: 2rem;
    position: relative;
    top: -0.1rem;
  }
  .after {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  .before {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    text-align: center;
  }
  .before *{
      font-size: 1.5rem;
  }
  .before svg{
      margin-top: 1rem;
      font-size: 3rem;
  }
  .after{
      font-size: 2.5rem;
  }
}
