.footer {
  background-color: #E9ECEF;
  width: 100%;
  flex: 1 0 auto;
}
.wrapfooter{
  display: flex;
}
.Links, .Place{
  width: 50%;
}
.Author{
  text-align: center;
}

.footer h2{
  margin: 1rem 1rem;
}
.footer a{
  display: block;
  font-size: 1.4rem;
  margin: .5rem 2rem;
}
.FIco{
  position: relative;
  top: -.15rem;
  margin: .1rem;
}
.footer h3{
  padding: 1rem;
}
@media screen and (min-width: 1000px) {
  .footer {
    position: absolute;
    min-height: 35vh;
    bottom: -35vh;
  }

}
@media screen and (max-width: 1000px){
  .wrapfooter{
    display: flex;
  }
  .Links, .Place{
    width: 100%;
  }
  .Author, .wrapfooter{
    width: 100%;
  }
}


