#place {
  /* temporary fix */
  min-height: 6rem; 
  background-color: var(--white);
}
.navbar {
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar,
.underNav {
  display: flex;
  align-items: center;
}
.underNav {
  opacity: 0;
  visibility: hidden;
  z-index: inherit;
  transition: all 0.5s ease-in-out; /* TEMPORARY */
  font-size: 1.5rem;
}
.underNav a{
  position: relative;
  margin: 0 .5rem;
  padding: .2rem .4rem;
  font-weight: bold;
  color: var(--black);
}
.NavToggleIcon{
  visibility: hidden;
}
.Logo{
  width: 5rem;
  z-index: 3;
  margin: 1rem;
}
@media screen and (max-width: 460px){
  .Logo{
    width: 5.5rem;
  }
}
@media screen and (max-width: 850px) {
  .NavToggleIcon {
    visibility: visible;
    color: var(--black);
    margin: 1rem 1rem 1rem auto;  /* 1rem odsazení každá strana, zleva auto aby zarovnal nakonec*/  
    font-size: 3rem;
    z-index: 1;
  }
  /* FullSize otevreny "pod" navigator */
  .underNav {
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: -100%;
  }
  .underNav a{
    padding: 1.4rem;
  }
  /* otevreni "pod" navigatoru */
  .navToggle {
    background-color: inherit;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 850px) {
  .Icon {
    visibility: hidden;
  }
  .underNav {
    opacity: 1;
    visibility: visible;
  }
  .underNav a::after{
    content: "";
    display: inline-flex;
    width: .7rem;
    height: .7rem;
    border-radius: 100%;
    transform: translateY(-25%)translateX(100%)rotate(30deg);
    background-color: var(--black);
    transition: transform .5s ease-in-out, left .5s ease;
  }
  .underNav a.active::after,.underNav a:hover::after{
    transform: rotate(0deg);
    left: .2rem;
  }
}
