#place {
  min-height: 5.5rem;
  background-color: var(--white);
}
.navbar {
  max-height: 5.5rem;
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar,
.underNav {
  display: flex;
  align-items: center;
}
.underNav {
  opacity: 0;
  visibility: hidden;
  z-index: inherit;
  font-size: 1.45rem;
  transition: all 0.5s ease;
}
.underNav a {
  position: relative;
  z-index: inherit;
  display: inline-block;
  font-weight: bold;
  color: var(--black);
  letter-spacing: 1px;
  padding: 0.5rem 0.8rem;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    border-radius 0.5s ease-in;
  transition-delay: 0.05s;
  border-radius: 5px;
}
.Logo {
  width: 5rem;
  margin: 1rem;
}
.underNav a:hover,
.active {
  color: var(--white) !important;
}
.NavToggleWrapper {
  visibility: hidden;
}
@media screen and (max-width: 1024px) {
  /* navToggleIcon */
  .NavToggleWrapper {
    visibility: visible;
    margin-left: auto;
  }
  .click {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    cursor: pointer;
    transform: rotate(45deg);
    height: 100%;
  }
  .click:hover * {
    background-color: var(--clickedBlack);
  }
  .ToClose,
  .ToOpen {
    width: 4rem;
    height: 3rem;
    top: 1rem;
    right: 1rem;
    position: fixed;
  }
  .ToOpen {
    z-index: 0;
    top: 1rem;
    right: 1rem;
    transform: scale(0.8) rotate(45deg);
  }
  .ToOpen:hover * {
    background-color: var(--clickedBlack);
  }
  .topLine,
  .midLine,
  .botLine {
    border-radius: 5px;
    width: 15%;
    height: 100%;
    background-color: var(--black);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in;
  }
  .midLine {
    height: 130%;
  }
  .topAnim {
    transform: translateX(-6rem);
  }
  .midAnim {
    transform: translateY(-6rem);
  }
  .botAnim {
    transform: translateX(6rem);
  }
  .ToClose {
    z-index: 1;
  }
  .firstLine,
  .secondLine {
    width: 20%;
    height: 100%;
    background-color: var(--black);
    border-radius: 5px;
    z-index: 3;
    position: absolute;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in;
  }
  .secondLine {
    transform: rotate(90deg);
  }
  .firstAnim {
    transform: translateY(-6rem);
  }
  .secondAnim {
    transform: translateX(-6rem) rotate(90deg);
  }
  /* FullSize otevreny "pod" navigator */
  .underNav {
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: -100%;
  }
  .underNav a {
    margin: 0.5rem;
  }
  .underNav a:hover,
  .active {
    background-color: var(--black);
  }
  /* otevreni "pod" navigatoru */
  .navToggle {
    background-color: inherit;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 1024px) {
  .Icon {
    visibility: hidden;
  }
  .underNav {
    opacity: 1;
    visibility: visible;
  }
  /* nav anim */
  .underNav a {
    margin: 0.5rem;
    background: transparent;
    background: linear-gradient(to right, transparent 50%, var(--black) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
  }
  .underNav a:hover,
  .underNav a.active {
    background-position: right bottom;
  }
  .underNav a::after {
    content: "";
    display: inline-flex;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    transform: translateY(-15%) translateX(150%);
    background-color: var(--black);
    transition: transform 0.7s ease-in-out, height 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }
  .underNav a.active::after,
  .underNav a:hover::after {
    transform: translateY(-15%) translateX(45%);
    background-color: var(--white);
  }
}
