.navig{

  max-height: 10vh;
  width: 100vw;
  background-color: #efefed;
}
#place{
  height: 0;
}
.navig,
.underNav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.navig *,
 .navig *:hover {
  text-decoration: none;
}
.logo {
    position: sticky;
    cursor: pointer;
    width: 4.5rem;
    margin: .5rem;
}
.right{
  margin-left: auto;
}
.Icon {
  visibility: hidden;
  margin: 1rem;
  font-size: 2.5rem;
  position: sticky;
  cursor: pointer;
}
.underNav a {
  margin: 1.2rem 0;
  padding: .5rem;
}

@media screen and (max-width: 780px) {
  .navig{
    position: fixed;
    top: 0;
  }
  #place{
    height: 10vh;
    width: 100vw;
  }
.Icon {
  visibility: visible;
}
.underNav{
  position: fixed;
  background-color: inherit;
  top: 0;  
  height: 100vh;
  width: 100vw;
  margin-left: -200vw;
  opacity: 0;
  flex-direction: column;
  z-index: inherit;
  transition: margin .5s ease-in-out, opacity .5s ease-in-out;
}
.navOpen{
  margin-left: 0vw;
  opacity: 1;
}
}
