#place {
  min-height: 5.5rem;
  background-color: var(--white);
}
.navbar {
  max-height: 5.5rem;
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar,
.underNav {
  display: flex;
  align-items: center;
}
.underNav {
  opacity: 0;
  visibility: hidden;
  z-index: inherit;
  transition: all 0.5s ease-in-out; /* TEMPORARY */
  font-size: 1.45rem;
}
.underNav a {
  position: relative;
  font-weight: bold;
  color: var(--black);
  letter-spacing: 1px;
  padding: 0.5rem 0.8rem;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-radius 0.5s ease-in;
  border-radius: 5px;
}
.NavToggleIcon {
  visibility: hidden;
}
.Logo {
  width: 5rem;
  z-index: 3;
  margin: 1rem;
}
.underNav a:hover,
.active {
  background-color: var(--black);
  color: var(--white) !important;
}
@media screen and (max-width: 1024px) {
  .NavToggleIcon {
    visibility: visible;
    color: var(--black);
    margin: 1rem 1rem 1rem auto; /* 1rem odsazení každá strana, zleva auto aby zarovnal nakonec*/
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
  }
  /* FullSize otevreny "pod" navigator */
  .underNav {
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: -100%;
  }
  .underNav a {
    margin: 0.5rem;
  }
  /* otevreni "pod" navigatoru */
  .navToggle {
    background-color: inherit;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 1024px) {
  .Icon {
    visibility: hidden;
  }
  .underNav {
    opacity: 1;
    visibility: visible;
  }
  .underNav a {
    margin: 0.5rem;
  }
  /* tečka za nav. linkem */
  .underNav a::after {
    content: "";
    display: inline-flex;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.1rem;
    border-radius: 100%;
    transform: translateY(-15%) translateX(150%);
    background-color: var(--black);
    transition: transform 0.5s ease-in-out, height 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }
  .underNav a.active::after,
  .underNav a:hover::after {
    transform: translateY(-15%) translateX(40%);
    background-color: var(--white);
  }
}
