h1 {
  color: var(--black);
  padding: 4.5rem 0;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 3px;
}
header {
  width: 100%;
  background-color: #efefed;
}
@media screen and (min-width: 781px) {
  h1 {
    padding: 6rem 0;
    font-size: 5rem;
  }
}
