h1 {
  text-align: left;
  font-family: "Work Sans", sans-serif;
  color: #313639;
  padding: 4.5rem 0.2rem;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 3px;
}
header {
  width: 100%;
  background-color: #efefed;
}
@media screen and (min-width: 781px) {
  h1 {
    padding: 6rem 2rem;
    font-size: 5rem;
  }
}
